.container{
    margin-left: 3%;
}
.col-4{
   float:left;
    width: 245px;
    height: 200px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    
}
body{
    background-color: #7286D3;
}
h1{
    font-family: 'Shalimar', cursive;
    font-size: 80px;
    margin-top: 0%;
}
button{
    background-color: black;
    color: aliceblue;
}
textarea{
    margin-left: 1.5px;resize: none; background-color: #E5E0FF;
}